@using Festibeau.database;
@model List<Festival>
@{
    ViewData["Title"] = "festivals";
}

<div class="text-center">
    <h1>Alle namen!</h1>
    @foreach (Festival f in Model)
    {
        <p>@f.naam - @f.beschrijving - @f.data - @f.locatie  </p>
    }
</div>

<h1>@ViewData["Title"]</h1>

<div class="tekst-festivals">
    <p>
        Er zijn verschillende festivals waar je heen kunt gaan.
    </p>
    <p>
        Ben jij meer een danser of meer een spelletjes speler?
    </p>
    <p>
        Dan hebben wij goed nieuws, want wij beschikken over vier verschillende festival!
    </p>
    <p>
        Klik voor meer informatie hier beneden!
    </p>
</div>
<nav class="festivals1">
    <a href="/Lowlands">Lowlands</a>
    <a href="/Hockeyloverz">Hockeyloverz</a>
</nav>

<nav class="festivals2">
    <a href="/Mysteryland">Mysteryland</a>
    <a href="/PinkPop">PinkPop</a>
</nav>

