@using Festibeau.database
@model Festival
@{
    ViewData["Title"] = Model.naam;
}

<div class="left"><img class="logo" src="@Model.foto" /></div>

<div class="right">
    <div>
        <h3>Festival: @Model.naam</h3>
        <h3>Datum : 25-06-2021</h3>
        <h3>Loactie @Model.locatie</h3>
    </div>
    <h3>Beschrijving:</h3>
    <p> @Model.beschrijving</p> <br /> <br />

</div>

@*@if (festivaldag != null)
{
    foreach (festivaldag v in festivaldagen)
    {
        <p>
            @v.Datum.ToString("D")
            - Aantal tickets over: @v.Voorraad.ToString("D")
        </p>
    }
}*@


